@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic);

html {
    color: #222;
    font-family: 'Source Sans Pro';
    /*font-family: "Helvetica" sans-serif;*/
    line-height: 1.4em;
}

h1 {
	font-weight: 200;
}

.chirp {
	color: #FF2014;
}